.tabs {
    margin: 0 !important;
    padding-top: 6px;
    transition: all 0.3s ease; 
    z-index: 1000;
  }
  

  .tabs-placeholder {
    height: 0;
    transition: height 0.3s ease;
  }
  
  .tabs.sticky {
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .tabs .tab.active {
    color: #007bff;
    font-weight: bold;
    border-bottom: 2px solid #007bff;
  }
@media screen and (max-width: 768px) {
    .tabs {
      display: none;
      
    }
   
    
  }
  